html
  head
    title Agri Product Detail
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    link(rel="stylesheet", href="/detail/detail.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    .container
      .card
        .container-fluid
          .wrapper.row
            .preview.col-md-6
              .preview-pic.tab-content
                .tab-pane.active#pic-1
                  img(src="http://placekitten.com/400/252")
            .details.col-md-6
              h3.product-title #{prod[0].pname}
                i.material-icons.delete delete
              b.create Posted by :
                p1  #{prod[0].created_by}
              b.create Before :
                p1  #{moment(prod[0].created_at).fromNow()}
              h4.product-description #{prod[0].pdescription}
              h4.price Current price :
                  i.fa.fa-inr
                    span #{prod[0].pprice}
              h4.price Quantity :
                  i.fa.fa-at
                    span #{prod[0].pquantity} #{prod[0].pqmeasure}
              h4.price City :
                  i.fa.fa-building
                    span #{prod[0].city}
              button.action.add-to-cart.btn.btn-default.getcontact Get the contact details

  script(type='text/javascript').
    mobilenum = !{JSON.stringify(prod[0].pnumber)}
    email = !{JSON.stringify(traderemail)}
    id = !{JSON.stringify(prod[0]._id)}
    c_by = !{JSON.stringify(prod[0].created_by)}

    $('.getcontact').click(function(){
     $.ajax({
      type : "post",
      url : '/mail/send',
      data : JSON.stringify({
        emailid : email,
        subject : "Message from farm friend",
        mobileno : mobilenum,
      }),
      contentType : "application/json",
      success : function(data){
          alert('message sent.');
       }
       })
      })

      $('.delete').click(function(){
       $.ajax({
        type : "post",
        url : '/my/products/detail/'+id+'/delete',
        data : JSON.stringify({
           pid : id,
           uname : c_by
        }),
        contentType : "application/json",
        success : function(){
             window.location.href='/my/products';
         }
         })
        })
